/* Elements */
html {
	height: 100%;
	width: 100%;
}
body {
	height: 100%;
	width: 100%;
	margin: 0;
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	background: url('/images/background/fabric_of_squares_gray.png');
}
a {
	text-decoration: none;
}
/**/

/* Utility */
b {
	font-weight: 700;
}
.light {
	font-weight: 300;
}
.fr {
	float: right;
}
.fl {
	float: left;
}
.btcf:after {
	content:"";
  display:table;
  clear:both;
}
/**/

/* Colors */
$white: #FFFFFF;
$blue: #1BA1E2;
$black: #000000;
/**/

/* Main Header */
header.main-header {
	padding: 10px;
	background: rgba($black,.7);
	color: $white;
	nav a {
			color: saturate(lighten($blue,20%),20%);
			&.selected {
				color: $white;
				cursor:	text;
			}
	}
}
/**/

/* Main Content */
section.main-content {
	padding: 10px;
	margin-bottom: 16px;
	a {
		color: #65ccfe;
	}
}
/**/

/* Footer */
footer {
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 16px;
  background: rgba(255,255,255,.5);
  color: rgba(0,0,0,.6);
  font-size: .9em;
	a {
		color: rgba(0,0,0,.8);
	}
}
/**/